
*{
    background-color: #E5DACE; /* rgb(223, 213, 180)*/
    font-family: Serif;
    text-align: center;
    color: rgb(85, 80, 80); 
    font-size: 25px;
    margin-right:20px;
    margin-left:20px;
}
/*
h{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 150px;
    color: rgb(85, 80, 80)
}*/

.banner{
       
    font-size: 30px;
   border-top:2px solid rgb(85, 80, 80)
}
.banner h1 {
       
    font-size: 50px;
}

.Aboutme * {
    text-align: left;
    

}
.directory * {
    text-align:justify;
}
.nav {
display:inline-flex;
margin: 5px auto;
width:100%;


}
dl>* {
    text-align:justify;
    
}



